.header {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  > * {
    max-width: 400px;
    text-align: center;
  }
}
.activityList {
  display: flex;
  flex-wrap: wrap;
}
